.alarm {
    width: 90%;
    overflow: hidden;
    max-width: 60ch;
    max-height: 100%;
    margin: 1rem auto;
    color: white;

    &__title {
        display: flex;
        width: 100%;
        position: relative;
        font-size: 1.5rem;
        font-weight: 800;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 68, 109, 0.5);
        border-radius: 10px 10px 0 0;
    }

    &__btn {
        position: absolute;
        right: 15px;
        top: 3px;
        background: none;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    &__text {
        max-height: 100%;
        flex: 1 1;
        font-size: 1.25rem;
        transition: all 500ms ease-in-out;
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        background-color: rgba(255, 68, 109, 0.5);
    }
}

.collapsed {
    max-height: 0;
    padding: 0.5rem;
    color: rgba(255, 68, 109, 0);
    transform: translateY(-300px);
}

.rounded {
    border-radius: 10px;
}
