.extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
    margin-inline: auto;
    color: white;
    margin-bottom: 1rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(68, 68, 255, 0.5);
        border-radius: 10px;
        padding: 0.5rem;

        &-title {
            display: flex;
        }

        &-text {
            font-size: 0.9rem;
        }

        &-wind {
            position: relative;
            top: -6px;
            width: 25px;
        }

        &-sun {
            position: relative;
            top: -3px;
            width: 25px;
        }

        &-compass {
            display: block;
            width: 70px;
            margin-top: 1rem;
            margin-inline: auto;
        }

        &-windkm {
            margin-left: auto;
           
            font-size: 0.75rem;
        }

        &-sup {
            width: 60px;
            margin: auto;
        }

        &-sunder {
            position: relative;
            margin: auto;
            top: 4px;
            width: 60px;
        }

        &-lv {
            text-align: center;
            padding: 0.5rem;
            font-size: 1.75rem;
        }

        &-zicht {
            text-align: center;
            padding: 0.5rem;
            font-size: 1.75rem;
        }
    }
}
