.extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
    margin-inline: auto;

    color: white;
    margin-bottom: 1rem;

    &__wrapper {
        width: 48%;
        background-color: rgba(68, 68, 255, 0.5);
        border-radius: 10px;
        padding: 0.5rem;
    }
}
