.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: auto;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;

    & span {
        background-color: white;
        width: 35px;
        height: 4px;
        border-radius: 25px;
        margin: 2px 0;
        pointer-events: none;
        transition: all 300ms ease-in-out;
    }
}

.show {
    & span {
        background-color: black;
    }

    & span:nth-child(1) {
        transform-origin: left;
        transform: translateY(-4px) translateX(6px) rotate(45deg);
    }

    & span:nth-child(2) {
        opacity: 0;
    }

    & span:nth-child(3) {
        transform-origin: left;
        transform: translateY(4px) translateX(6px) rotate(-45deg);
    }
}
