.navbar {
    display: flex;
    width: 100%;
    min-width: 375px;
    max-width: 60rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;

    & form {
        width: 100%;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 0%;
        min-height: 300px;
        padding: 1rem;
        background-color: white;
        top: 0px;
        right: 0px;
        opacity: 0;
        padding-top: 50px;
        transition: all 300ms ease-in-out;
        overflow: hidden;
        z-index: 5;

        &-show {
            width: 100%;
            opacity: 1;
        }

        &-list {
            list-style-type: none;
            padding: 1rem;
            font-size: 1.5rem;
        }

        &-item {
            padding-top: 0.5rem;
            width: calc(100vw - 4rem);
            border-bottom: 1px solid black;
        }

        &-btn {
            border: none;
            background: none;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                color: rgb(255, 89, 89);
            }
        }
    }

    &__search {
        text-align: center;
        position: relative;
        width: 70%;
    }

    &__btn {
        position: relative;
        top: -2.5px;
        width: 75px;
        height: 30px;
        background: none;
        border: none;
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        z-index: 5;

        &:active {
            box-shadow: none;
        }
    }

    &__city {
        width: 70%;
        height: 30px;
        font-size: 1.3rem;
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        outline: none;
        margin-left: 1rem;

        &:active,
        &:focus {
            border: 2px solid #555;
        }
    }

    &__modal {
        display: none;
        position: fixed;
        z-index: 100;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);

        &-content {
            position: relative;
            background-color: #555;
            margin: auto;
            padding: 20px;
            width: 300px;
            height: auto;
            border-radius: 5px;
            color: #fff;
            font-size: 1.5rem;
        }

        &-close {
            position: absolute;
            top: 0px;
            right: 10px;
            color: #fff;
            font-size: 2rem;
            font-weight: 700;

            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
