.weathercard {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 100%;
    height: auto;
    max-width: 60rem;
    margin: 0 auto;
    color: #fff;
}

.weatherheader {
    margin: 0 auto;

    &__title {
        font-size: 2rem;
        text-align: center;
        padding-top: 1rem;
    }

    &__temp {
        font-size: 3rem;
        text-align: center;
    }

    &__short {
        font-size: 1.25rem;
        text-align: center;
    }

    &__minmax {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1rem;
    }
}
