@use "./index" as i;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: i.$var-clearsky;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
